
	<!--	<app-modal-add-user></app-modal-add-user>-->
	<ion-grid>
		<div bottom-grid>
			<ion-row>
				<ion-col text-center>
					<form flex-form>
						<mat-form-field size-md color="accent" appearance="outline">
							<mat-label>Nombre</mat-label>
							<input [(ngModel)]="customer.name" matInput placeholder="unique id" [ngModelOptions]="{standalone: true}">
						</mat-form-field>
						
						<mat-form-field size-md color="accent" appearance="outline">
							<mat-label>Email</mat-label>
							<input [(ngModel)]="customer.email" type="email" matInput placeholder="Your secret" [ngModelOptions]="{standalone: true}" />
						</mat-form-field>
						<mat-form-field size-md color="accent" appearance="outline">
							<mat-label>Edad</mat-label>
							<input [(ngModel)]="customer.age" type="number" matInput placeholder="unique id" [ngModelOptions]="{standalone: true}">
						</mat-form-field>
						<mat-form-field size-md color="accent" appearance="outline">
							<mat-label>Identificación</mat-label>
							<input [(ngModel)]="customer.nit" type="number" matInput placeholder="unique id" [ngModelOptions]="{standalone: true}">
						</mat-form-field>
						<mat-list>
							<mat-list-item>
								<a (click)="onNoClick()" mat-raised-button init-btn style="width: 100%">Agregar Cliente</a>
							</mat-list-item>
						</mat-list>
					</form>
				</ion-col>
			</ion-row>
		</div>
	</ion-grid>
